{% extends 'base.html.twig' %}

{% block body %}

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <span>
                <h4>Cash Amount: €{{ app.user.cash | number_format(2)}}</h4>
            </span>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total_price = 0 %}
                    {% for order in orders %}
                        {% set promotional_price = calculator.calculate(order.product) %}

                        <tr>
                            <td class="cart_product">
                                <a href="{{ path('product_show', { 'id': order.product.id }) }}">
                                <img src="/images/product/{{ order.product.image }}" alt="" style="width: 50px;">
                                </a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="{{ path('product_show', { 'id': order.product.id }) }}">
                                        {{ order.product.artist }} - {{ order.product.title }}
                                    </a></h4>
                            </td>
                            <td class="cart_price">
                                {% if promotional_price != order.product.price %}
                                    <p><del>€{{ order.product.price | number_format(2) }}</del></p>
                                {% endif %}
                                <p>€{{ promotional_price | number_format(2) }}</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <input class="cart_quantity_input" type="number" name="quantity" value="{{ order.quantity }}"
                                           autocomplete="off" size="2" style="width: 40px">
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">€{{ promotional_price| number_format(2) * order.quantity }}</p>
                                {% set total_price = total_price + promotional_price| number_format(2) * order.quantity %}
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="cart_product"></td>
                        <td class="cart_description"></td>
                        <td class="cart_price"></td>
                        <td class="cart_quantity"></td>
                        <td>
                            <p class="cart_total_price">€{{ total_price }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

{% endblock %}