{% extends 'base.html.twig' %}

{% block body %}
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-12  col-md-12">
                                    <img class="img-responsive"
                                         src="{{ asset('images/home/slider-banner-1.jpg') }}" alt=""/>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-12  col-md-12">
                                    <img class="img-responsive"
                                         src="{{ asset('images/home/slider-banner-2.jpg') }}" alt=""/>
                                </div>
                            </div>
                        </div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/slider-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <div class="categories_products"><!--categories_products-->
                            <h2>Categories</h2>
                            <div class="categories-name">
                                <div class="list-group">
                                    {% for category in categories %}
                                        <a href="{{ path('products_categorized', { 'id': category.id }) }}"
                                           class="list-group-item">{{ category.name }}
                                            <span class="badge">{{ category.products.count }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><!--/categories_products-->

                        <div class="artists_products"><!--artists_products-->
                            <h2>Artists</h2>
                            <div class="categories-name">
                                <div class="list-group">
                                    {% for artist in artists %}
                                        <a href="{{ path('products_by_artists', { 'artist': artist }) }}"
                                           class="list-group-item">{{ artist }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><!--/artists_products-->
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Features Items</h2>
                        {% for product in pagination %}
                            {% set promotional_price = calculator.calculate(product) %}
                            <div class="col-sm-4 col-md-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            {% if promotional_price != product.price %}
                                                <span class="discount"
                                                      id="homepage-discount">{{ calculator.relevantPromotion }}
                                                    % OFF</span>
                                            {% endif %}
                                            <a href="{{ path('product_show', { 'id': product.id }) }}">
                                                <img src="/images/product/{{ product.image }}" alt=""/>
                                            </a>

                                            {% if promotional_price != product.price %}
                                                <h2>
                                                    <del>€{{ product.price | number_format(2) }}</del>
                                                </h2>
                                            {% endif %}
                                            <h2>€{{ promotional_price | number_format(2) }}</h2>

                                            <p>
                                                <a href="{{ path('product_show', { 'id': product.id }) }}">
                                                    {{ product.artist }} - {{ product.title }}
                                                </a>
                                            </p>
                                            {% if app.user %}
                                            <form method="post" action="{{ path('cart_add', {'id': product.id }) }}">
                                                <button type="submit" class="btn btn-default add-to-cart">
                                                    <i class="fa fa-shopping-cart"></i>Add to cart
                                                </button>
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div><!--features_items-->
                </div>
            </div>
            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </section>


{% endblock %}

