{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center">Password Change</h1>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            {{ form_start(change_password_form) }}
            {{ form_widget(change_password_form) }}
            <input type="submit" value="Change"/>
            {{ form_end(change_password_form) }}

            {#<ul>
                <li>
                    <a href="{{ path('product_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>#}
        </div>
    </div>
{% endblock %}

