{% extends 'base.html.twig' %}

{% block body %}
    <section id="cart_items">
        <div class="container">
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="description">Items</td>
                        <td class="quantity">Quantity</td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if my_products %}
                    {% for order in my_products %}
                        {% set promotional_price = calculator.calculate(order.product) %}
                        <tr>
                            <td class="cart_product">
                                <a href="{{ path('product_show', { 'id': order.product.id }) }}">
                                    <img src="/images/product/{{ order.product.image }}" alt="" style="width: 50px;">
                                </a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="{{ path('product_show', { 'id': order.product.id }) }}">
                                        {{ order.product.artist }} - {{ order.product.title }}
                                    </a></h4>
                            </td>
                            <td class="cart_price">
                                {% if promotional_price != order.product.price %}
                                    <p>
                                        <del>€{{ order.product.price | number_format(2) }}</del>
                                    </p>
                                {% endif %}
                                <p>€{{ promotional_price | number_format(2) }}</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <h4 class="cart_quantity_input" >{{ order.quantity }}</h4>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: center"><h2>No products purchased</h2></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->
{% endblock %}

