{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-1">
        <div class="panel panel-default" id="user-profile">
            <div class="panel-body">
                <div class="product-details"><!--user-details-->
                    <div class="container"><!--/user-info-->
                        <div class="row">
                            <div style="float:left">
                                <h2>{{ user.username }}</h2>
                                <div class="avatar-container">
                                    {% if user.avatar %}

                                        <img src="{{ user.avatar.url }}" class="img-responsive img-rounded">
                                    {% else %}
                                        <img src="{{ asset('images/avatar/no-avatar-image.jpg') }}"
                                             class="img-responsive img-rounded">
                                    {% endif %}
                                </div>

                                {% if app.user is same as(user) %}
                                    <div class="input-group">
                                        <label class="input-group-btn">
                                            <span class="btn btn-primary" style="border-radius: 5px">Browse&hellip; </span>
                                                {{ form_start(avatar_form) }}

                                                {{ form_widget(avatar_form) }}

                                                <a href="{{ path('avatar_upload', {'id' : user.id}) }}">
                                                <input type="submit" value="Upload" class="btn btn-primary"></a>

                                                {{ form_end(avatar_form) }}
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="pull-left" style="margin-top: 100px">
                                <h4>
                                    <i class="fa fa-user"></i> {{ user.firstName ~ ' ' ~ user.lastName }}
                                </h4>
                                <h4><i class="fa fa-envelope"></i> {{ user.email }}
                                </h4>
                                <h4><i class="fa fa-mobile-phone"></i> {{ user.phoneNumber }}
                                </h4>
                            </div>
                            <div class="pull-left" style="margin-top: 20px;">
                                <div id="edit-panel">
                                    <div class="btn-group">
                                        {% if app.user is same as(user) or is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                                        <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                                data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu" role="menu">

                                            <li>
                                                <a href="{{ path('profile_edit', { 'id': user.id }) }}">Edit Profile</a>
                                            </li>
                                            {% endif %}
                                            {% if app.user is same as(user) %}
                                                <li>
                                                    <a href="{{ path('change_password', { 'id': user.id }) }}">Change
                                                        Password</a>
                                                </li>
                                            {% endif %}
                                        </ul>

                                        {#{% if app.user is same as(user) %}
                                            {{ form_start(delete_account_form) }}
                                            <button class="btn btn-danger" type="submit" value="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                            {{ form_end(delete_account_form) }}
                                        {% endif %}#}

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--/user-info-->
                </div>
            </div><!--/user-details-->
        </div>
    </div>

{% endblock %}