{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-sm-3 col-sm-offset-3">
            <div class="register-form">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Create Account</h2>
                        <h4>Fill in the fields below to create a new account.<br>
                            If you already have an account, please <a href="{{ path('user_login') }}">Sign in</a></h4>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="form-group col-sm-offset-3">
                            <button type="submit" class="btn btn-primary center-block">Register</button>
                            <a href="{{ path("homepage") }}" class="btn btn-primary center-block">Cancel</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
